body {
  margin: 0;
}

@media only screen and (min-device-width: 320px) {

  nav {
    height: 25vh;
    padding: 1.5em;
    text-align: center;

    .menu {
      background: none;
      border: none;
      float: right;

      i {
        color: #f36b47;
      }
    }

    h1 {
      a {
        color: #f36b47;
        font: 72px sans-serif;
        font-family: 'PT Sans', sans-serif;
        text-decoration: none;

        span {
          color: #4c4c4b;
        }
      }
    }
  }
  h2 {
    color: #484848;
    display: inline-block;
    font-size: 26px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    border-bottom: 2px solid #f36b47;
  }
  .slider {

    .slider-section {
      background: url("../img/background.jpg") center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-content: center;

      p {
        color: #eff7f8;
        font: 18px sans-serif 900;
        font-family: "Ubuntu", sans-serif;
        padding: 0.5em 2em;
        background: #000000;
        opacity: 0.5;
      }
    }

    .slider-footer {
      background: #f36b47;
      display: flex;
      height: 13vh;
      text-align: center;
      justify-content: center;
      flex-flow: column wrap;
      align-content: center;

      p {
        color: #fffffc;
        font: 16px sans-serif 500;
        font-family: "Ubuntu", sans-serif;
        margin: 0.5em 1em;

        span {
          text-decoration-line: underline;
          text-transform: uppercase;
        }
      }
    }
  }
  .about {
    text-align: center;


    p {
      color: #9d9c9c;
      font-family: "Ubuntu", sans-serif;
      font-size: 18px;
      line-height: 30px;
      margin: 0 1em 2em 1em;
    }

    .about-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;
      padding: 0;
      margin: 3em 0 4em 0;

      li {
        width: 70%;

        i {
          color: #f36b47;
        }

        h3 {
          color: #2e2e2e;
          font: 22px sans-serif;
        }

        p {
          line-height: 18px;
        }
      }
    }
  }

  .porfolio {
    text-align: center;
    margin-bottom: 5em;

    p {
      color: #9d9c9c;
      font-family: "Ubuntu", sans-serif;
      margin: 0.5em 1em;
    }

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-around;

      li {
        background: #eeeeee;
        border: 1px solid #e0dddd;
        margin: 2em 1em;

        h3 {
          color: #fe5c32;
          font-size: 22px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 400;
          margin: 0;
        }

        p {
          color: #605f5f;
          margin: 0.5em;
          border-top: 1px solid #e0dddd;
          line-height: 26px;
        }
      }
    }
  }

  .talk {
    text-align: center;
    background: #7a7a7a;
    padding: 2em 0 4em 0;

    h2 {
      border-bottom: none;
      color: #ffffff;
      font-size: 60px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 400;

      span {
        color: #f36b47;
      }
    }

    p {
      color: #fffffc;
      font-family: "Ubuntu", sans-serif;
      font-size: 24px;
      line-height: 25px;
      margin: 0 1em 0 0.5em;
    }
  }

  .contact {
    text-align: center;
    padding-bottom: 7em;

    h2 {
      font-size: 48px;
      font-weight: 400;
    }


    p {
      color: #9d9c9c;
      font-family: "Ubuntu", sans-serif;
      font-size: 24px;
      line-height: 25px;
      margin: 0.5em 1em;
      padding: 1em 0 4em 0;
    }

  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }

  .contact-form {
    h3 {
      color: #484848;
      display: inline-block;
      font-size: 48px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 500;
      border-bottom: 2px solid #f36b47;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 2.5em;

        a {
          color: #9d9c9c;
          font-size: 30px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 400;
          text-decoration: none;
        }
      }
    }
  }


  .phone {
    &::before {
      font-family: 'Font Awesome 5 Free';
      content: "\f879";
      color: #f27554;
      display: inline-block;
      padding-right: 30px;
      vertical-align: middle;
      font-weight: 900;
    }
  }
  .mail {
    &::before {
      font-family: 'Font Awesome 5 Free';
      content: "\f0e0";
      color: #f27554;
      display: inline-block;
      padding-right: 30px;
      vertical-align: middle;
      font-weight: 900;
    }
  }
  .location {
    &::before {
      font-family: 'Font Awesome 5 Free';
      content: "\f3c5";
      color: #f27554;
      display: inline-block;
      padding-right: 30px;
      vertical-align: middle;
      font-weight: 900;
    }
  }
  .form {
    ul {
      li {
        margin: 0.5em;

        input {
          background: #f0f0f0;
          border: 1px solid #cac6c6;
          color: #9d9c9c;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 400;
          width: 90%;
          padding: 1em;
        }

        textarea {
          background: #f0f0f0;
          border: 1px solid #cac6c6;
          color: #9d9c9c;
          font-size: 16px;
          font-family: "Ubuntu", sans-serif;
          font-weight: 400;
          width: 90%;
          padding: 1em;
        }

        .button {
          border: none;
          border-radius: 4px;
          background: #f27554;
          color: #ffffff;
          font: 20px sans-serif;
          font-family: 'PT Sans', sans-serif;
          width: 70%;
          padding: 0.5em;
        }
      }
    }
  }
  footer {
    text-align: center;
    padding-bottom: 4em;

    p {
      background: #f37b5c;
      color: #ffffff;
      font: 20px sans-serif;
      font-family: 'PT Sans', sans-serif;
      padding: 0.8em;
    }
  }
}

